.cl-navbar{
  padding-top: 70px;
}
.cl-navbarButton__custom-page-2{
  position: absolute;
  top: 12px;
}
.cl-userProfile-root{
  background-image: url('https://res.cloudinary.com/diqpghsfm/image/upload/v1762696086/1_ypkvxn.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 91vh;
  overflow: hidden;
}